/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font: "Inter-Variable";
  --font-accent: "Press Start 2P";
  --font-weight-title: 700;
  --font-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --blend-color: #fff;
  --text-hover: #fff;
  --text-shadow: #fff;
  --icon-color: #fff;
  --heart-color: #f00;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
}
